---
title: Växter
date: 2020-02-22
permalink: /plants/{{ plant }}/
layout: layouts/base.njk
eleventyNavigation:
  key: Växter
  order: 0
---

<article>
  <h1>Växter</h1>

  <p>Här är ett index äver växter vi för närvarande har information om!</p>

  {% set plantPages = collections.plants %}
  {% include "components/plantslist.njk" %}
</article>
