---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Växter med taggen “{{ tag }}”"
---

{% set plantPages = collections[ tag ] %}

<article>
  <h1>Växter med taggen “{{ tag }}”</h1>
  <nav>
    {% include "components/plantslist.njk" %}
  </nav>
</article>
