:root {
	--turkey: #FFF0EB;
	--white: white;
	--blue: blue;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	font-family: 'Droid Serif', serif;
}

body {
	display: flex;
	flex-flow: column nowrap;
	background-color: white;
	background-image: url(/static/img/paper.svg);
}

main {
	margin: 0 auto;
	flex: 1;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href]:not(:hover) {
	text-decoration: none;
}

main {
	padding: 1em;
}

main > article:first-child {
	margin-top: 1.2rem;
}

article {
	margin: 2.4rem auto;
	padding: 1.2rem;
	border-radius: 12px;
	background-color: rgba(255,255,255,0.5);
	width: calc(100vw - 4.8rem);
	max-width: 600px;
}

article a {
	color: hsl(41, 84%, 30%);
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
.app-header > em {
	font-weight: bold;
	font-style: normal;
}

.app-footer,
.app-header {
	background-image: linear-gradient(rgba(136,90,62,0.5), rgba(96,48,19,0.5) 70%, rgba(136,90,62,0.5)), url(/static/img/dark-paper-2.svg);
	color: #EFD799;
	height: 50px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0 1.2rem;
	letter-spacing: 0.8px;
}

.app-header {
	position: sticky;
	top: 0;
	z-index: 1;
}

a {
	color: currentColor;
	opacity: 0.9;
}

img {
	max-width: 100%;
}

article header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 2rem;
}

article header h1 {
	margin: 0;
}

article header .text {
	flex: 1;
}

article header figure {
	width: 128px;
	height: 128px;
	margin: 0;
	border: 5px solid white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
	transform: rotateZ(8deg);
}

article header figure img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.app-header nav {
	flex: 1;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.app-header nav ul {
	padding: 0;
	list-style: none;
}

.app-header nav li a[data-current="current item"] {
	font-weight: 700;
	text-decoration: underline;
}

/* Posts List */

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: 'Droid Serif', serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
	cursor: pointer;
}

.plants-list {
	list-style: none;
	padding: 0;
}

.plants-list li a {
	padding: 0.5em 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.plants-list li:hover {
	background-color: rgba(0, 0, 0, 0.02);
}

.plants-list figure {
	margin: 0;
	width: 64px;
	height: 64px;
	margin-right: 1rem;
	overflow: hidden;
	contain: strict;
	border-radius: 6px;
}

.plants-list img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

.tags {
	margin: 2rem 1rem 1rem;
}

.tags ul {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	margin: 0;
	justify-content: center;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: block;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: .5em 1em;
	background-color:rgba(255, 255, 255, 0.7);
  border-radius: .25em;
	text-decoration: none;
	margin: 0.5em 1em;
}

a[rel="tag"]:hover {
	background-color: hsl(41, 84%, 30%);
	color: var(--white);
}
