.plants-list {
	list-style: none;
	padding: 0;
}

.plants-list li {
  contain: strict;
  contain-intrinsic-height: 80px;
}

.plants-list li a {
	padding: 0.5em 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.plants-list li:hover {
	background-color: rgba(0, 0, 0, 0.02);
}

.plants-list picture {
	display: block;
  contain: strict;
  contain-intrinsic-size: 64px 64px;
	margin: 0;
	width: 64px;
	height: 64px;
	margin-right: 1rem;
	overflow: hidden;
	border-radius: 6px;
}

.plants-list .text {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	white-space: nowrap;
	overflow: hidden;
}

.plants-list .text > span,
.plants-list .text > small {
	text-overflow: ellipsis;
	overflow: hidden;
}
