.tags {
	margin: 2rem 1rem 1rem;
}

.tags ul {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	margin: 0;
	justify-content: center;
}

/* Post Tags */
a[rel="tag"] {
    display: block;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .625em;
    padding: .5em 1em;
    border-radius: .5em;
    text-decoration: none;
    margin: 0.5em 1em;
    background-color: #333;
    color: white;
}

.image-credits {
    font-size: 0.8em;
}
