<header class="app-header">
	<em>
    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
  </em>
  {% include "components/nav.njk" %}
</header>

<main>
  {{ layoutContent | safe }}
</main>

{% include "components/footer.njk" %}
