<header class="app-header">
	<em>
    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
  </em>
  {% include "components/nav.njk" %}
</header>

<main>
  {{ layoutContent | safe }}
</main>

{% include "components/footer.njk" %}
{% include "components/ga.njk" %}
<script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
