<article>
  <p>Denna sida drivs ideellt och donationer för vårt arbete är varmt välkomna.</p>
  <hr>
  <p>Du kan donera till vårt arbete genom att använda webbläsaren Brave och sådeles förse oss med Basic Attention
    Token-betalningar på månatlig basis. Denna doneringsfunktion är innbyggd i webbläsaren.</p>
  <a href="https://publishers.basicattentiontoken.org/" target="_blank">Läs mer om Basic Attention Token</a> och <a href="https://brave.com/" target="_blank">ladda ned webbläsaren Brave</a>
  <hr>
  <p>
    Du kan också <a href="https://commerce.coinbase.com/checkout/fe4fde51-813b-489c-bbfa-4e956776f6a6" target="_blank">donera kryptovalutor (Bitcoin, Bitcoin Cash, Ethereum och Litecoin)</a> eller donera en gång eller månatligt med <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=8L2CDJ74G2UQC&amp;source=url" target="_blank">ditt bankkort på PayPal</a>.
  </p>
</article>
