<meta charset="utf-8">
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Merriweather:wght@400;700&display=swap">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="HIj6_hwTx3aVnL6o7Db3AF7MMhWPB3pbhWRDwlBXvDM" />
<title>{{ title or renderData.title or metadata.title }} - Etnobotanik-Arkivet</title>
{% set js %}
  {% include "assets/js/inline.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>
