<nav>
  {% set plantPages = collections.plant %}
  <ul>
  {%- for plantPage in plantPages %}
    <li>
      <a href="{{ plantPage.url | url }}">{{ plantPage.data.title }} ({{ plantPage.data.latinName }})</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
