---
layout: layouts/plantBase.njk
section: plants
---

<article>
  <header>
    <div class="text">
      <h1>{{ title }}</h1>
      <small>{{ latinName }}</small>
    </div>
  </header>

  {% if latinName %}
  <figure class="thumbnail">
    {% set thumbnailImageSrc = latinName | thumbnailOriginalSrc %}
    {% image thumbnailImageSrc, "Utvald bild för " + title, "128px" %}
  </figure>
  {% endif %}

  {{ layoutContent | safe }}

  <img src="{{ latinName | fitch }}" width="100%" alt="Illustration över växtdelar av {{ title }}" />

  <footer>
    <div class="tags">
      {{ tags | generateTagLinks | safe }}
    </div>
  </footer>
</article>

{% if imageCredit %}
  <article>
    Bilder från<br>
    {{ imageCredit | generateCreditLinks | safe }}
  </article>
{% endif %}
