<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	<head>
		{% include "components/head.njk" %}
		{% include "components/plantHead.njk" %}
		{% set css %}
			{% include "assets/css/inline.css" %}
			{% include "assets/css/plant.css" %}
		{% endset %}
		<style>{{ css | cssmin | safe }}</style>
	</head>
	<body>
		{% include "components/baseBody.njk" %}
	</body>
</html>
