---
layout: layouts/base.njk
section: plants
---
<article>
  <h1>Växter</h1>

  <p>Här är ett index äver växter vi för närvarande har information om!</p>

  {% include "components/plantslist.njk" %}
</article>
