---
layout: layouts/plantBase.njk
section: plants
---

<article>
  <header>
    <div class="text">
      <h1>{{ title }}</h1>
      <small>{{ latinName }}</small>
    </div>
  </header>

  {% if latinName %}
  <figure class="thumbnail">
    {% set thumbnailImageSrc = latinName | thumbnailOriginalSrc %}
    {% image thumbnailImageSrc, "Utvald bild för " + title, "128px" %}
  </figure>
  {% endif %}

  {{ layoutContent | safe }}

  <img src="{{ latinName | fitch }}" width="100%" alt="Illustration över växtdelar av {{ title }}" />

  <footer>
    <div class="tags">
      {{ tags | generateTagLinks | safe }}
    </div>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9675050026743432"
     crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-gw-3+1f-3d+2z"
            data-ad-client="ca-pub-9675050026743432"
            data-ad-slot="9657633011"></ins>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </footer>
</article>

{% if imageCredit %}
  <section class="image-credits">
    Tillskrivningar:<br>
    {{ imageCredit | generateCreditLinks | safe }}
  </section>
{% endif %}
