---
layout: layouts/plantBase.njk
section: plants
---

<article>
  <header>
    <div class="text">
      <h1>{{ title }}</h1>
      <small>{{ latinName }}</small>
    </div>
    {% if latinName %}
    <figure>
      <img src="{{ latinName | thumbnailSrc }}" srcset="{{ latinName | thumbnailSrcset }}" sizes="144px" alt="Utvald bild på {{ title }}" data-attribution="{{thumbnail_attribution}}" />
    </figure>
    {% endif %}
  </header>

  {{ layoutContent | safe }}
</article>

{% include "components/donate.njk" %}
